# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.pyc
*.log
*.DS_Store
*.sublime-workspace
*.sublime-project
*.py~
*.aux
*.fdb_latexmk
*.eps
*.fls
*.toc
*.out
*.pdf
*.tar.gz
*.tgz
*.gz
*.so
._*
.nfs*
tmp
build
checkpoint
Tensorflow/python
